* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 187, 187);
}

.bg-white {
    background-color: rgb(252, 252, 252);
}

.bg-blue {
    background-color: blue;
}
.p-10 {
    padding: 10px;
}

.m-10 {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
