* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 187, 187);
    
}

.bg-white {
    background-color: rgb(252, 252, 252);
}


.padding-main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.margin-main {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.m-20 {
    margin-top:20px;
}

p {
    margin:10px;
}

#blocco-1 {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
}

#blocco-2 {
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
}

.check {
    color:rgb(32, 220, 32);
    padding:4px;
}

.false {
    color: red;
    padding:4px;
}

#editorial {
    background-color: rgb(91, 165, 226);
    border: 1px solid rgb(91, 165, 226);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#q1-goals {
    background-color: rgb(172, 73, 151);
    border: 1px solid rgb(173, 64, 149);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#recruiting {
    background-color: rgb(31, 197, 67);
    border: 1px solid rgb(58, 183, 41);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#mobile {
    background-color: rgb(224, 151, 50);
    border: 1px solid rgb(238, 137, 74);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#website {
    background-color: rgb(232, 69, 194);
    border: 1px solid rgb(232, 69, 194);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#sales {
    background-color: rgb(111, 197, 110);
    border: 1px solid rgb(111, 197, 110);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}