* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 187, 187);
    
}

header {
    box-shadow: 5px 5px 8px 10px gray;
}

main {
    background-color: rgb(252, 252, 252);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px ;
    box-shadow: 5px 10px 8px 10px grey;
}

.bg-white {
    background-color: white;
}

.m-20 {
    margin-top:20px;
}

p {
    margin:20px;
}

#blocco-1 {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
}

#blocco-2 {
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
}

.check {
    color:rgb(32, 220, 32);
    padding:1px 3px 1px 3px;
    border: 1px solid rgb(32, 220, 32);
    border-radius: 50%;
    display: inline-block;
    font-size: x-small;
    margin-right: 5px;
}

.false {
    color: red;
    padding: 1px 3px 1px 3px;
    border: 1px solid red;
    border-radius: 50%;
    display: inline-block;
    font-size: x-small;
    margin-right: 5px;
   
}

.editorial {
    background-color: rgb(91, 165, 226);
    border: 1px solid rgb(91, 165, 226);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#q1-goals {
    background-color: rgb(172, 73, 151);
    border: 1px solid rgb(173, 64, 149);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#recruiting {
    background-color: rgb(31, 197, 67);
    border: 1px solid rgb(58, 183, 41);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#mobile {
    background-color: rgb(224, 151, 50);
    border: 1px solid rgb(238, 137, 74);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#website {
    background-color: rgb(232, 69, 194);
    border: 1px solid rgb(232, 69, 194);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}

#sales {
    background-color: rgb(111, 197, 110);
    border: 1px solid rgb(111, 197, 110);
    border-radius: 20px;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:5px;
    color: white;
    font-size: 10px;
}